.toggler {
    display: flex;
    padding: 12px 0;
    position: relative;
    border-radius: 32px;
    border: 1px solid #EEF1F4;
    width: fit-content;

    &__item {
        display: grid;
        place-items: center;
        z-index: 1;
        cursor: pointer;
        font-weight: 500;
        color: #27303E;
        width: 200px;
    }
}

.active {
    top: -4px;
    height: 56px;
    z-index: 0;
    color: #EEF1F4;
    transition: 0.3s;
    position: absolute;
    border-radius: 32px;
    background: #EEF1F4;
}

.carousel {
    overflow: scroll;
    height: 66px;
    scrollbar-width: none;
    display: flex;
    align-items: center;
}


.toggler_mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
    position: relative;
    border-radius: 0;
    border: none;
    width: auto;

    &__item {
        display: block;
        z-index: 1;
        cursor: pointer;
        font-weight: 300;
        color: #27303E;
        width: fit-content;
        background-color: #EEF1F4;
        padding: 3px 16px;
        line-height: 26px;
        border-radius: 16px;

        &_active {
            background-color: #27303E;
            color: #FFF;
        }
    }
}